{% extends "products/order_father.html"%}
{% load static %}
{% block order %}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Order</h2>
            <p>Porfavor lea nuestros FAQ acerca de tiempos de envio y costos</p>
        </div>

    </div>

    <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="col-lg-10">
            <form action="{% url 'home' %}" method="POST" role="form" class="php-email-form">{% csrf_token %}
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                            required>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <select name="Orden" class="form-control" name="subject" id="subject" placeholder="Orden" required>
                        <option value="escritorio">Escritorio</option>
                        <option value="silla">Silla</option>
                        <option value="sillon">Sillon</option>
                        <option value="mesa">Mesa</option>
                    </select>
                </div>
                <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your order has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Order</button></div>
            </form>
        </div>
</section><!-- End Contact Section -->
{% endblock %}