{% extends "products/index.html"%}
{% load static %}
{% block content %}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Order</h2>
            <p>Porfavor lea nuestros FAQ acerca de tiempos de envio y costos</p>
        </div>

    </div>
    <form action="{% url 'ordenes' %}" method="POST"> {% csrf_token %}
        <div style="display: flex; text-align: center; ">
            <div style="align-items: center; text-align: center;">
                <input type="text" name="name" placeholder="Name" class="text-center" style="margin: 30px;">
                <input type="text" name="email" placeholder="Email" class="text-center"
                    style="margin: 30px; width: 10cm;">
            </div>
        </div>
        <select name="product" class="form-control" name="subject" id="subject" placeholder="Orden"
            style="text-align: center;" required>
            <option value="escritorio">Escritorio</option>
            <option value="silla">Silla</option>
            <option value="sillon">Sillon</option>
            <option value="mesa">Mesa</option>
        </select>
        <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="text-center" style="margin: 1cm"><button type="submit">Send Order</button></div>
    </form>

</section><!-- End Contact Section -->
{% endblock %}