{% extends "products/index.html"%}
{% load static %}
{% block content %}

<h1></h1>
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Algunos de nuestros productos</h2>
        </div>
        <div class="row portfolio-container" data-aos="fade-up">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="{% static 'products/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sillas</h4>
                        <div class="portfolio-links">
                            <a href="{% static 'products/img/portfolio/portfolio-1.jpg' %}"
                                data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                                    class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="{% static 'products/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Mesas</h4>
                        <div class="portfolio-links">
                            <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="{% static 'products/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sillones</h4>
                        <div class="portfolio-links">
                            <a href="% static 'products/img/portfolio/portfolio-3.jpg'%" data-gallery="portfolioGallery"
                                class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-title" data-aos="fade-up">
            <h2>Lista de muebles</h2>
            {% for product in products %}
            <h6>{{product.material}}</h6>
            <h6>{{product.color}}</h6>
            <h6>{{product.precio}}</h6>
            {% endfor %}
        </div>

</section><!-- End Portfolio Section -->
{% endblock %}